.main-btn {
  // 覆盖 mui 的样式
  position: fixed!important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  padding: 10px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(245, 245, 245, .9);
  border-radius: 4px;
}

.area {
  margin-top: 10px;
}

.area1 {
  text-align: center;
}

.ml {
  margin-left: 10px!important;
}

.remove-number-spin {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"]{
    -moz-appearance: textfield;
  }
}
